
h1{
    color: grey;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    
}
body{
    background-color:bisque;
}
.boldheading{
    font-family: Akaya Telivigala;
}
div{
    text-align: center;
}
.button:hover{
    background-color:rgb(0, 0, 0);
}
